.pricing-section--04 {
  padding-top: 50px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
  @media (min-width: 575px) {
    padding-top: 66px;
    padding-bottom: 80px;
  }
  @media (min-width: 992px) {
    padding-top: 134px;
    padding-bottom: 139px;
  }
  .section-title-block {
    margin-bottom: 34px;
    @media (min-width: 575px) {
      margin-bottom: 50px;
    }
    @media (min-width: 992px) {
      margin-bottom: 55px;
    }
  }

  &__shape{
    position: absolute;
    width: 23.5%;
    top: 7%;
    right: 0;
    z-index: -1;
  }
  .card-pricing--01 {
    &__list {
      @media (min-width: 1400px) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  .pricing-btn {
    margin-bottom: 23px;
    @media (min-width: 575px) {
      margin-bottom: 60px;
    }
  }

}
