@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as *;

.testimonial-section--09 {
  padding-bottom: 62px;
  padding-top: 90px;
  @media (min-width: 575px) {
    padding-top: 117px;
    padding-bottom: 75px;
  }
  @media (min-width: 992px) {
    padding-top: 175px;
    padding-bottom: 130px;
  }
  &__image{
    position: relative;
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 0;
    }
    @media (min-width: 1200px) {
      margin-right: 31px;
      margin-left: 48px;
    }
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #ffb619;
      border-radius: 2%;
      z-index: -1;
      margin-left: -3.2%;
      transform: rotate(-5deg);
      transform-origin: bottom left;
    }
  }
  &__content{
    z-index: 11;
    position: relative;
    @media (min-width: 992px) {
      margin-left: -34%;
      margin-top: 10%;
    }
    @media (min-width: 1200px) {
      margin-top: 20%;
    }
  }
  .section-title-block {
    margin-bottom: 30px;
    @media (min-width:575px) {
        margin-bottom: 40px;
    }
    @media (min-width:992px) {
        margin-bottom: 50px;
    }
  }
  .testimonial-slider--one-col__arrow{
    .slick-arrow{
      background: #0D59EF;
      color: white;
      box-shadow: none;
    }
  }
  .testimonial-slider--one-col{
    box-shadow: 0px 4px 60px rgba(13, 89, 239, 0.06);

    .card-testimonial--02 {
      @media (max-width:480px) {
        padding: 30px 20px 28px;
      }
    }
  }
}
