@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as *;
.content-section--04 {
  padding-top: 60px;
  padding-bottom: 52px;
  @media (min-width: 575px) {
    padding-top: 81px;
    padding-bottom: 76px;
  }
  @media (min-width: 992px) {
    padding-top: 135px;
    padding-bottom: 136px;
  }
  @media (min-width: 1200px) {
    padding-top: 135px;
    padding-bottom: 144px;
  }
  @media (min-width: 1400px) {
    padding-top: 140px;
    padding-bottom: 184px;
  }
  &__content {
    @media (min-width: 1200px) {
      padding-right: 25px;
    }
    @media (min-width: 1400px) {
      padding-right: 10%;
    }

    .text {
      @media (min-width: 992px) {
        padding-right: 10%;
      }
      @media (min-width: 1200px) {
        padding-right: 17%;
      }
      @media (min-width: 1400px) {
        padding-right: 16%;
      }
    }
    .btn {
      margin-top: 32px;
      @include line-height(26, 18);
      padding: px-to-em(17, 18) px-to-em(36, 18);
      @media (max-width: 575px) {
        font-size: 16px;
      }
    }
  }

  &__image-group {
    position: relative;
    z-index: 1;
    margin-left: 7.91%;
    .main-image {
      box-shadow: 0px 6.96458px 69.6458px rgba(4, 37, 82, 0.1);
      border-radius: 11.6076px;
    }
    .main-image-wrapper {
      position: relative;
      z-index: 1;
    }
    .image-1 {
      bottom: -10%;
      left: -8%;
      width: 46.5%;
      z-index: 3;
      img {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7.41697px;
        width: 100%;
      }
    }
  }
  &__counter-block {
    display: flex;
    .single-counter {
      margin-top: 25px;
      margin-right: 50px;
      @media (min-width: 575px) {
        margin-top: 30px;
      }
      @media (min-width: 992px) {
        margin-top: 40px;
      }
      @media (min-width: 1400px) {
        margin-right: 75px;
      }
      .count {
        @include line-height(72, 60);
        @include letter-spacing(2, 60, true);
        color: #0d59ef;
        margin-bottom: 0;

        font-size: 42px;
        @media (min-width: 575px) {
          font-size: 50px;
        }
        @media (min-width: 992px) {
          font-size: 60px;
        }
      }
      span {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #042552;
      }
    }
  }
}
