
    <div class="hero-area hero-section--04">
    <div class="hero-section--04__shape">
        <img src="image/hero/04-hero-shape.png" alt="hero shape">
    </div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-11 order-lg-2 mb-5 mb-lg-0">
                    <div class="hero-section--04__image">
                        <img src="image/hero/04-hero-main.png" alt="" class="w-100">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-9 col-sm-11 order-lg-1">
                    <div class="hero-section--04__content hero-content text-center text-lg-start" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
                    <span class="subtitle text-cornflower-blue">We are the best</span>
                        <h1 class="page-title heading-dark">Sassmix is the best solution for your business</h1>
                        <p class="text-dark">An enim nullam tempor sapien gravida donec enim ipsum porta congue magna at pretium purus pretium </p>
                        <div class="hero-section--04__button">
                            <a href="" class="btn btn-secondary rounded-full btn-60">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
