{# 
    available vvariables:
    title,column,pageName
 #}
{% macro render(option) %}
    <div class="breadcrumb bg-blue-ribbon">
        <div class="breadcrumb__shape">
            <img src="./image/innerpage/breadcrumb-shpe.png" alt="shape" class="w-100 h-100">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="{{'col-lg-7' if not option.column else option.column}}">
                    <div class="breadcrumb-text-block text-center">
                        <h2 class="title">{{option.title}}</h2>
                        <p class="text-light">{{option.text | safe}}</p>
                        <span class="breadcrumb--navigation heading-dark text">Home / {{option.pageName}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb--shape">
            <img src="/image/innerpage/breadcrumb-shape.svg" alt="" class="w-100">
        </div>
    </div>
{% endmacro %}
