<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Page Title</title>
  <link rel="stylesheet" href="plugins/bootstrap-4/css/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
  <link rel="stylesheet" href="plugins/nice-select/nice-select.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="site-wrapper overflow-hidden">
    {% include "_header.njk" %}
    {% block main %}
    
      {% endblock %}

  </div>
 
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/jquery/jquery-migrate.min.js"></script>
  <script src="plugins/bootstrap-4/js/bootstrap.bundle.min.js"></script>
  <script src="plugins/nice-select/jquery.nice-select.min.js"></script>
  <script src="js/custom.js"></script>
</body>
</html>