// spacings
.mb--30{
  margin-bottom: 30px;
}
// Section Spcaing


.section-padding{
  &-both{
    @include section-padding-both(100px);
  }
  &-top{
    @include section-padding-top(100px);
  }
  &-bottom{
    @include section-padding-bottom(100px);
  }
}

// Border
.border-bottom{
  border-color: #ebedf2!important;
}

.bg{
  &-sky{
    background: #ecf9ff;

  }
  &-black{
    background: #192027;
  }
}


