<div class="footer-section--01 bg-vogue">
    <div class="container">
        <div class="row mb-n5">
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8 col-xs-9 mb-5">
            <div class="footer-brand-block">
              <div class="footer-brand">
                <img src="image/logo/logo-light.png" alt="">
              </div>
              <p class="text-light">There are many variations of passages of Lorem the Ipsum available but it is the majority of suffered that a alteration in that some dummy text.</p>
            </div>
            <div class="mt-4 d-lg-none">
                <h3 class="footer-title heading-light">
                Follow Us
                </h3>
                <div class="footer-social">
                <a title="facebook" href="#"><i class="fab fa-instagram"></i></a>
                <a title="linked in" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a title="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                <a title="twitter" href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
          </div>
          <div class="col-xl-2 offset-xl-1 col-lg-2 offset-lg-1 col-md-3 offset-md-1  col-sm-6 col-6 mb-5">
            <h3 class="footer-title heading-light">
              Services
            </h3>
            <ul class="list-unstyled footer-list">
              <li><a href="#" class="text-light">Incident Responder</a></li>
              <li><a href="#" class="text-light">Secure Managed IT</a></li>
              <li><a href="#" class="text-light">Check website Url</a></li>
              <li><a href="#" class="text-light">Locker Security</a></li>
            </ul>
          </div>
          <div class="col-xl-2 offset-xl-1 col-lg-2 offset-lg-0 col-md-3 col-sm-6 col-6 mb-5">
            <h3 class="footer-title heading-light">
              About Us
            </h3>
            <ul class="list-unstyled footer-list">
              <li><a href="#"  class="text-light">Payment Plans</a></li>
              <li><a href="#"  class="text-light">Make saving More</a></li>
              <li><a href="#"  class="text-light">Tax Calculator</a></li>
              <li><a href="#"  class="text-light">Talk To Us</a></li>
            </ul>
          </div>
          <div class="col-xl-2 offset-xl-1 col-lg-3 mb-5 d-none d-lg-block">
            <h3 class="footer-title heading-light">
              Follow Us
            </h3>
            <div class="footer-social">
              <a title="facebook" href="#"><i class="fab fa-instagram"></i></a>
              <a title="linked in" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a title="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
              <a title="twitter" href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="footer-section--01__copyright copyright-border">
            <p class="text-light">© 2021 Saasmix All Rights Reserved.</p>
        </div>
    </div>
</div>