@use "../../abstracts/colors" as color;
@use "../../abstracts/mixins" as *;

/*---------------------------------
        Hero Section 01
-----------------------------------*/
.hero-section--02 {
  position: relative;
  z-index: 1;
  padding-top: 109px;
  padding-bottom: 102px;
  @media (min-width: 575px) {
    padding-top: 130px;
    padding-bottom: 108px;
  }
  @media (min-width: 992px) {
    padding-top: 191px;
    padding-bottom: 211px;
  }
  &__background {
    @include object-bg-image;
  }
  &__shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
  &__content {
    padding-right: 15px;
    .page-title {
      margin-bottom: 20px;
      @media (min-width: 992px) {
        margin-bottom: 40px;
      }
    }
  }
  &__form {
    max-width: 410px;
    position: relative;
    margin-top: 34px;
    .text-center & {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
