@use "../../abstracts/colors"as color;
@use '../../abstracts/mixins' as * ;

/*---------------------------------
        Hero Section 06
-----------------------------------*/ 
.hero-section--08{
    position: relative;
    z-index: 1;
    padding: 112px 0 60px;
    @media (min-width:768px) {
        padding: 133px 0 80px;
        
    }
    @media (min-width:992px) {
        padding: 195px 0 180px;
        
    }
    @media (min-width:1200px) {
        padding-bottom: 190px;
        
    }

    &__content{
        .page-title{
            margin-bottom: 15px;
            @media (min-width:768px) {
                margin-bottom: 25px;
            }
            span{
                display: unset;
            }
        }
        p{
            margin-bottom: 30px;
            font-weight: 600;
            @media (min-width:768px) {
                margin-bottom: 40px;
            }
        }
    }
    &__buttons{
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        margin: 0 -20px;
        @media (min-width:420px) {
            flex-direction: row;
            align-items: center;
        }
        a{
            margin: 0 20px;
        }
        .btn-link{
            display: flex;
            align-items: center;
            border-bottom: 2px solid #FF6C40;
            line-height: 35px;
            margin-bottom: 20px;
            @media (min-width:420px) {
                margin-bottom: 0;
            }
            svg{
                transition: .3s;
            }
            span{
                color: #FF6C40 !important;
                margin-right: 10px;
                font-weight: 700;
                font-size: 16px;
                @media (min-wdith:768px) {
                    font-size: 18px;
                }
            }
            &:hover{
                    svg{
                    transform: translateX(5px);
                }
            }
        }
    }
    &__image-group{
        position: relative;
        margin-bottom: 30px;
        @media (min-width:992px) {
            margin-bottom:0;
        }
        @media (min-width:1200px) {
           margin-left: 84px; 
        }
        &--card-one{
            position: absolute;
            left: 0;
            transform: translateY(-50%);
            width: 35.7%;
            top: 50%;
            @media (min-width:992px) {
            left: -18%; 
            }  
            img{
            box-shadow: 0px 15.7068px 21.4183px rgba(0, 0, 0, 0.1), 0px 12.851px 65.6829px rgba(0, 0, 0, 0.06), 0px 34.2693px 54.2598px rgba(0, 0, 0, 0.04);
            border-radius: 10px;
            }      
        }
        &--card-two{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 38.6%;
            @media (min-width:992px) {
            bottom: -6%;
            right: -6%;  
            }
            img{
            filter: drop-shadow(0px 6px 60px rgba(4, 37, 82, 0.1));
            }
        }
    }
    &__dots-1{
        position: absolute;
        top: 17%;
        left: 0%;
        z-index: -1;
    }
    &__dots-2{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__shape-1{
        position: absolute;
        top: 12%;
        right: 1%;
        z-index: -1;
    }
    &__shape-2{
        position: absolute;
        bottom: 1%;
        left: 8%;
        z-index: -1;
    }
}

