@use "../../abstracts/colors"as color;
@use '../../abstracts/mixins' as * ;

/*---------------------------------
        Hero Section 01
-----------------------------------*/ 
.hero-section--03{
    position: relative;
    z-index: 1;
    padding-top: 107px;
    padding-bottom: 0;
    @media (min-width:575px) {
        padding-top: 126px;
        padding-bottom: 0;
    }
    @media (min-width:992px) {
        padding-top: 143px;
        padding-bottom: 84px;
    }
    @media (min-width:1200px) {
        padding-top: 165px;
        padding-bottom: 93px;
    }
    &__content{
        padding-right: 15px;
        @media (min-width:992px) {
            width: 112%;
        }
        @media (min-width:1200px) {
            width: 110%;
        }
        @media (min-width:1400px) {
            width: 110%;
        }
        .page-title{
            margin-bottom: 25px;
        }
        p{
            margin-bottom: 40px;
        }
    }
    &__buttons{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin:-12.5px;
        > a{
            margin:12.5px;
        }
    }
    &__image{
        position: relative;
        left: -19%;
        margin-top: -12%;
        @media (min-width:992px) {
            width: 125%;
            margin-left: -15%;  
            margin-top: -16%;
            left: 0%;
        }
        @media (min-width:1200px) {
            width: 135%;
            margin-left: -24%;  
            margin-top: -24%;
        }
    }

}

