{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "sections/Feature/FeatureSectionOne.njk" as FeatureSection %}
{% import "sections/Contents/l2/ContentSectionTwo.njk" as ContentSection %}
{% import "sections/Team/TeamSectionOne__v2.njk" as TeamSection %}
{% import "components/Breadcrumb/_breadcrumb.njk" as Breadcrumb %}
{% set PAGE_INFO = {
    color_scheme : "1"
  }
%}
{% block main %}
  {{Header.render({
    additional_header_class:"site-header--menu-center bg-transparent site-header--dark",
    absolute_header:true,
    header_button:true,
    header_button_text:"Try It Free",
    additional_button_classes:" site-header__btn--3 inner-btn"
  })}}
    <!-- Breadcrumb Section Start -->
    {{Breadcrumb.render({
      "column":"col-xl-8 col-lg-10",
      "title":"About Us",
      "text":"An enim nullam tempor donec enim ipsum porta <br class='d-none d-xs-block'> justo  congue purus pretium ligula ",
      "pageName":"About Us"
    })}}
  <!-- Breadcrumb Section End --> 
  <!-- Content One Section Start -->
  {% include "sections/Contents/l2/ContentSectionOne.njk" %}
  <!-- Content One Section End --> 
  <!-- Feature Section Start -->
  {{FeatureSection.render({className:"bg-blue-ribbon-opacity-02", dotsClass:"d-none"})}}
  <!-- Feature Section End --> 
  <!-- Content Two Section Start -->
  {{ContentSection.render()}}
  <!-- Content Two Section End -->  
  <!-- Video Section Start -->
  {% include "sections/Video/VideoSectionOne.njk" %}
  <!-- Video Section End -->
  <!-- Team Section Start -->
  {{TeamSection.render({dotsClass:"d-none"})}}
  <!-- Team Section End -->  
  <!-- Testimonial Section Start -->
  {% include "sections/Testimonial/TestimonialSectionOne.njk" %}
  <!-- Testimonial Section End -->
  <!-- Cta Section Start -->
  {% include "sections/Cta/CtaSectionOne.njk" %}
  <!-- Cta Section End -->
  <!-- Footer Section Start -->
  {% include "sections/Footer/FooterSectionOneDark.njk" %}
  <!-- Footer Section End -->
    
{% endblock %}
