{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}

{% set PAGE_INFO = {
    color_scheme : "1"
  }
%}
{% block main %}
  {{Header.render({
    additional_header_class:"site-header--menu-center bg-transparent site-header--light",
    absolute_header:true,
    header_button:true,
    header_button_text:"Try It Free",
    additional_button_classes:" site-header__btn--3"
  })}}
    <!-- Hero Section Start -->
      {% include "sections/Hero/HeroSectionSix.njk" %}
    <!-- Hero Section End -->  
    <!-- Brand Section Start -->
      {% include "sections/Brand/BrandSectionTwo.njk" %}
    <!-- Brand Section End -->
    <!-- About Section Start -->
      {% include "sections/About/AboutSectionTwo.njk" %}
    <!-- About Section End -->
    <!-- Feature Section Start -->
      {% include "sections/Feature/FeatureSectionFive.njk" %}
    <!-- Feature Section End -->
    <!-- Content Section Start -->
      {% include "sections/Contents/l6/ContentSection.njk" %}
    <!-- Content Section End -->
    <!-- Feature Section Start -->
      {% include "sections/Slider/ScreenshotSlider.njk" %}
    <!-- Feature Section End -->
    <!-- Cta Section Start -->
      {% include "sections/Faq/FaqSectionTwo.njk" %}
    <!-- Cta Section End -->
    <!-- Pricing Section Start -->
      {% include "sections/Pricing/PricingSectionThree__v3.njk" %}
    <!-- Pricing Section End -->
    <!-- Pricing Section Start -->
      {% include "sections/Testimonial/TestimonialSectionSix.njk" %}
    <!-- Pricing Section End -->
    <!-- Cta Section Start -->
      {% include "sections/Cta/CtaSectionSix.njk" %}
    <!-- Cta Section End -->
    <!-- Footer Section Start -->
      {% include "sections/Footer/FooterSectionOneDark.njk" %}
    <!-- Footer Section End -->
    
{% endblock %}
