{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}

{% set PAGE_INFO = {
    color_scheme : "1"
  }
%}
{% block main %}
  {{Header.render({
    additional_header_class:"site-header--menu-right bg-transparent site-header--light-dark",
    absolute_header:true,
    header_button:true,
    header_button_text:"Try It Free",
    additional_button_classes:" site-header__btn--3"
  })}}
    <!-- Hero Section Start -->
      {% include "sections/Hero/HeroSectionFour.njk" %}
      <!-- Hero Section End -->  
      <!-- Brand Section Start -->
        {% include "sections/Brand/BrandSectionThree.njk" %}
      <!-- Brand Section End -->
  
    <!-- Feature Section Start -->
      {% include "sections/Feature/FeatureSectionFour.njk" %}
    <!-- Feature Section End -->
    <!-- Content Section Start -->
      {% include "sections/Contents/l4/ContentSectionOne.njk" %}
    <!-- Content Section End -->
    <!-- Service Section Start -->
      {% include "sections/Service/ServiceSectionOne.njk" %}
    <!-- Service Section End -->
    <!-- Content Section Start -->
      {% include "sections/Contents/l4/ContentSectionTwo.njk" %}
    <!-- Content Section End -->
    <!-- Pricing Section Start -->
      {% include "sections/Pricing/PricingSectionFour.njk" %}
    <!-- Pricing Section End -->

    <!-- Testimonial Section Start -->
      {% include "sections/Testimonial/TestimonialSectionFour.njk" %}
    <!-- Testimonial Section End -->

    <!-- Feature Section Start -->
      {% include "sections/Cta/CtaSectionFour.njk" %}
    <!-- Feature Section End -->

    <!-- Footer Section Start -->
      {% include "sections/Footer/FooterSectionOneDark.njk" %}
    <!-- Footer Section End -->
    
{% endblock %}
