{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}

{% set PAGE_INFO = {
    color_scheme : "1"
  }
%}
{% block main %}
  {{Header.render({
    additional_header_class:"site-header--menu-center bg-transparent site-header--light",
    absolute_header:true,
    header_button:true,
    header_button_text:"Try It Free",
    additional_button_classes:" site-header__btn--3"
  })}}
    <!-- Hero Section Start -->
      {% include "sections/Hero/HeroSectionFive.njk" %}
    <!-- Hero Section End -->  
    <!-- Category Section Start -->
      {% include "sections/Category/CategorySectionOne.njk" %}
    <!-- Category Section End -->
    <!-- Content Section Start -->
      {% include "sections/Contents/l5/ContentSectionOne.njk" %}
    <!-- Content Section End -->
    <!-- Content Section Start -->
      {% include "sections/Contents/l5/ContentSectionTwo.njk" %}
    <!-- Content Section End -->
    <!-- Cta Section Start -->
      {% include "sections/Cta/CtaSectionFive.njk" %}
    <!-- Cta Section End -->
    <!-- Content Section Start -->
      {% include "sections/Contents/l5/ContentSectionThree.njk" %}
    <!-- Content Section End -->
    <!-- Team Section Start -->
      {% include "sections/Team/TeamSectionTwo.njk" %}
    <!-- Team Section End -->
    <!-- Pricing Section Start -->
      {% include "sections/Pricing/PricingSectionThree__v2.njk" %}
    <!-- Pricing Section End -->
    <!-- Brand Section Start -->
      {% include "sections/Brand/BrandSectionFour.njk" %}
    <!-- Brand Section End -->
    <!-- Footer Section Start -->
      {% include "sections/Footer/FooterSectionOneDark.njk" %}
    <!-- Footer Section End -->
    
{% endblock %}
