{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "components/Breadcrumb/_breadcrumb.njk" as Breadcrumb %}
{% import "components/Cards/cards.njk" as Card %}
{% set PAGE_INFO = {
    color_scheme : "1"
  }
%}
{% block main %}
  {{Header.render({
    additional_header_class:"site-header--menu-center bg-transparent site-header--dark",
    absolute_header:true,
    header_button:true,
    header_button_text:"Try It Free",
    additional_button_classes:" site-header__btn--3 inner-btn"
  })}}
    <!-- Breadcrumb Section Start -->
    {{Breadcrumb.render({
      "column":"col-xl-8 col-lg-10",
      "title":"Portfolio Wide-4 Columns",
      "text":"An enim nullam tempor donec enim ipsum porta justo  congue purus tempor <br class='d-none d-xs-block'>  donec enim ipsum porta justo pretium ligula ",
      "pageName":"Portfolio"
    })}}
  <!-- Breadcrumb Section End --> 

<div class="portfolio-section-padding bg-blue-ribbon-opacity-02">
  <div class="container">
      <div class="portfolio-filter-menu mb-lg-7 mb-5 text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
        <button class="btn btn-outline-orange rounded-full active" data-filter="*">See All</button>
        <button class="btn btn-outline-orange rounded-full" data-filter=".customer-support">Branding</button>
        <button class="btn btn-outline-orange rounded-full" data-filter=".marketing">Designing</button>
        <button class="btn btn-outline-orange rounded-full" data-filter=".design">Photography</button>
        <button class="btn btn-outline-orange rounded-full" data-filter=".development">Development</button>
    </div>
  </div>
  <div class="container-fluid g-0">
    <div class="row portfolio-active g-0 card-radius-0 justify-content-center">
      {% for item in portfolio4colwide %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-9 {{item.ClassName}}">
          {{Card.portfolio({
            image:item.image,
            title:item.title,
            text:item.text
          })}}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
  <!-- Footer Section Start -->
  {% include "sections/Footer/FooterSectionOneDark.njk" %}
  <!-- Footer Section End -->
    
{% endblock %}
