{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "components/Cards/cards.njk" as Card %}
{% import "components/Breadcrumb/_breadcrumb.njk" as Breadcrumb %}
{% set PAGE_INFO = {
    color_scheme : "1"
  }
%}
{% block main %}
  {{Header.render({
    additional_header_class:"site-header--menu-center bg-transparent site-header--dark",
    absolute_header:true,
    header_button:true,
    header_button_text:"Try It Free",
    additional_button_classes:" site-header__btn--3 inner-btn"
  })}}
    <!-- Breadcrumb Section Start -->
    {{Breadcrumb.render({
      "column":"col-xl-8 col-lg-10",
      "title":"Terms & Condition",
      "text":"An enim nullam tempor donec enim ipsum porta <br class='d-none d-xs-block'> justo  congue purus pretium ligula ",
      "pageName":"Terms & Condition"
    })}}
  <!-- Breadcrumb Section End --> 

  

  <!-- terms Section Start -->
  <div class="terms-body bg-blue-ribbon-opacity-02">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <div class="single-block">
            <h3 class="h3">Generate Terms & Conditions</h3>
            <p>By accessing and placing an order with UXTheme, you confirm that you are in greement with and bound by the terms and conditions contained in the Terms Of Use outlined elow.entire website and any emailommunication betweenLicence you and UXTheme. Under no circumstances shall LicenceUXTheme team be liable Licencefor any direct, indirect, special, incidental or Licenconsequential damages, including, but not limited to, loss of data or profit, arisingout of the use, or the inability to use, the materials on , even if UXTheme team or an authorized representative has been advised of the Licen possibility of such damages. If your use of materials from this site results in the need for servicing, repair or correction of equipmentLicence data, you assume any costs thereof</p>
            <h4>Privacy Policy</h4>
            <p>Creating a Terms & Conditions for your application or website can take a lot of time. You could either spend tons of money on hiring a lawyer, or you could simply Licence u Licence service and get a unique Terms & Conditions fully custumized to your website. Creating a Terms & Conditions for your application or website can take a lot of time. You could either spend tons of money Licence  on hiring a lawyer, or you could simply use our service and get a unique Terms & Conditions fully custumized to your website.</p>
          </div>
          <div class="single-block">
            <h4>Terms of use for apps</h4>
            <ul class="list-style-bullet">
              <li>Creating a Terms & Conditions for your application or website can taken.</li>
              <li> You could either spend tons of money on hiring a lawyer.</li>
              <li> By offering clients a chance to see what they’re potentially paying.</li>
              <li> Within many fields, name-recognition goes a long way establishing credibility. </li>
              <li> Personal branding remains one of the best methods for increasing the visibility.</li>
            </ul>
          </div>
          <div class="single-block">
            <h4>Data Protection</h4>
            <ul class="list-style-bullet list-style-bullet--black">
              <li>Creating a Terms & Conditions for your application or website can taken.</li>
              <li> You could either spend tons of money on hiring a lawyer.</li>
              <li> By offering clients a chance to see what they’re potentially paying.</li>
              <li> Within many fields, name-recognition goes a long way establishing credibility. </li>
              <li> Personal branding remains one of the best methods for increasing the visibility.</li>
            </ul>
          </div>
          <div class="single-block">
            <h4>Licence</h4>
            <ul class="list-style-bullet">
              <li>Creating a Terms & Conditions for your application or website can taken.</li>
              <li> You could either spend tons of money on hiring a lawyer.</li>
              <li> By offering clients a chance to see what they’re potentially paying.</li>
              <li> Within many fields, name-recognition goes a long way establishing credibility. </li>
              <li> Personal branding remains one of the best methods for increasing the visibility.</li>
            </ul>
          </div>
          <div class="single-block">
            <h4>Changes about terms</h4>
            <p>Creating a Terms & Conditions for your application or website can take a lot of time. You could either spend tons of money on hiring a lawyer, or you could simply use our service and get a unique Terms & Conditions fully custumized to your website. Creating a Terms & Conditions for your application or website can take a lot of time. You could either spend tons of money on hiring a lawyer, or you could simply use our service and get a unique Terms & Conditions fully custumized to your website.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer Section Start -->
  {% include "sections/Footer/FooterSectionOneDark.njk" %}
  <!-- Footer Section End -->
    
{% endblock %}
