{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "components/Cards/cards.njk" as Card %}
{% import "components/Breadcrumb/_breadcrumb.njk" as Breadcrumb %}
{% set PAGE_INFO = {
    color_scheme : "1"
  }
%}
{% block main %}
  {{Header.render({
    additional_header_class:"site-header--menu-center bg-transparent site-header--dark",
    absolute_header:true,
    header_button:true,
    header_button_text:"Try It Free",
    additional_button_classes:" site-header__btn--3 inner-btn"
  })}}
    <!-- Breadcrumb Section Start -->
    {{Breadcrumb.render({
      "column":"col-xl-8 col-lg-10",
      "title":"Testimonial",
      "text":"An enim nullam tempor donec enim ipsum porta <br class='d-none d-xs-block'> justo  congue purus pretium ligula ",
      "pageName":"Testimonial"
    })}}
  <!-- Breadcrumb Section End --> 

  <!-- Cta Section Start -->
    <div class="inner-testimonial--02 bg-blue-ribbon-opacity-02">
      <div class="inner-testimonial--02__shpe-1 position-absolute spin-animation">
        <img src="./image/shapes/shape-01.png" alt="shape" class="w-100">
      </div>
      <div class="inner-testimonial--02__shpe-2 position-absolute spin-animation">
        <img src="./image/shapes/shape-02.png" alt="shape" class="w-100">
      </div>
      <div class="inner-testimonial--02__shpe-3 position-absolute spin-animation">
        <img src="./image/shapes/shape-03.png" alt="shape" class="w-100">
      </div>
      <div class="inner-testimonial--02__shpe-4 position-absolute spin-animation">
        <img src="./image/shapes/shape-04.png" alt="shape" class="w-100">
      </div>
      <div class="inner-testimonial--02__shpe-5 position-absolute spin-animation">
        <img src="./image/shapes/shape-05.png" alt="shape" class="w-100">
      </div>
      <div class="container">
        <div class="section-title-block text-center">
          <h2 class="title fw-normal">Honest  reviews <span class=" fw-bold"> from <br class="d-none d-sm-block"> our customers </span> </h2>
          <p class=" text-dark">We provide the most efficient features of digital <br class=" d-none d-sm-block"> marketing. Always ready to help you</p>
      </div>
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row justify-content-center card-row">
              {% for item in testimonialDataTwo %}
                  <div class="col-lg-6 col-md-9 col-sm-10">
                      {{Card.testimonialTwo__v2({
                          modifier:"card-testimonial--02--with-rating-bottom",
                          image:item.image,
                          name:item.userName,
                          position:item.userPosition,
                          text:item.text
                      })}}
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Cta Section End -->

  <!-- Cta Section Start -->
    {% include "sections/Cta/CtaSectionOne.njk" %}
  <!-- Cta Section End -->
  <!-- Footer Section Start -->
  {% include "sections/Footer/FooterSectionOneDark.njk" %}
  <!-- Footer Section End -->
    
{% endblock %}
