{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "sections/Team/TeamSectionOne__v2.njk" as TeamSection %}
{% import "sections/Pricing/PricingSectionFive.njk" as PriceSection %}

{% set PAGE_INFO = {
    color_scheme : "1"
  }
%}
{% block main %}
  {{Header.render({
    additional_header_class:"site-header--menu-center bg-transparent site-header--light",
    header_button:true,
    absolute_header:true,
    header_button_text:"Try It Free",
    additional_button_classes:" site-header__btn--3"
  })}}
    <!-- Content Section Start -->
      <div class="thank-you-section bg-blue-ribbon-opacity-02">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-md-9 col-sm-10">
              <div class="thank-you-section__image text-center">
                <img src="./image/innerpage/icon-2.svg" alt="icons" class="mw-100">
              </div>
                <div class="thank-you-section__content">
                  <div class="section-title-block text-center">
                    <h2 class="title">Thank you for your subscription</h2>
                    <p class=" text-dark">Thank you so much for downloading the app. We will let <br class="d-none d-xl-block"> you know about every update via e-mail.</p>
                    <a href="#" class="btn-60 rounded-full btn-primary btn">Back To Home</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Content Section End -->
    
{% endblock %}
