.sec-title{
    &-sm{
        font-size: 30px;
        font-weight: 500;
        line-height: 35px;
    }
    &-md{
        font-size: 36px;
        font-weight: 500;
        line-height: 35px;
        @include desktops{
            line-height: 22px;
        }
    }
}


  